include staticheader.pug
section(role='region')
	h1.spaceAbove.center About
	p.spaceAbove.center Caffeine is the world's most widely used legal psychological stimulant, entrenched in our daily routines as we strive to be more and more productive.
	p.spaceAbove.center But is it really helping us? 
	p.center.spaceAbove Results from <a href='http://www.bbc.co.uk/programmes/articles/3LW6kJMRF8ktc2PpNQFXhN7/what-does-caffeine-really-do-to-our-brains'>clinical tests</a> show that caffeine doesn't actually add to our baseline energy levels, but rather lowers them as our brains adapt and require caffeine to achieve normal levels of wakefulness and concentration.