html(lang='en')
	head
		title Quitting Caffeine
		link(rel='stylesheet', href='/styles/style.css', type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Roboto|Abril+Fatface" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		header(role='banner')
			div.jumbotron
				h1 True Energy | Mental Freedom
				h3 Removing the Demands of Caffeine from our Lives
			header.homeHeader.nav(role='banner')
				ul.headerUl
					li
						a(href='/') Home
					li
						a(href='/kickermate') KickerMate
					li
						a(href='/howcaffeineworks') How Caffeine Works
					li
						a(href='/whyquit') Why Quit Caffeine? 
